body {
  padding: 0;
}

p,
ul,
ol,
blockquote,
q,
pre,
address,
area,
article,
aside,
audio,
code,
colgroup,
div,
details,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
img,
section,
table,
summary,
video {
  margin: 0;
}

.cm-hero {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: $white;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

  .img-sm {
    display: none;

    @include media('<tablet') {
      display: block;
    }
  }

  .img-lg {
    @include media('<tablet') {
      display: none;
    }
  }

  .hero-slide {
    position: relative;
    overflow: hidden;
  }

  .banner-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }

  img {
    margin-bottom: 0;
    display: block;
  }

  .logo {
    margin: 0 0 67px;
    width: 270px;

    @include media('<widescreen') {
      width: 142px;
      margin-bottom: 33px;
    }
  }

  .container {
    max-width: 1472px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .small-title {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #99c8c8;
    display: block;
    margin-bottom: 11px;

    @include media('<widescreen') {
      font-size: 16px;
    }

    @include media('<tablet') {
      margin-bottom: 1px;
    }
  }

  h1 {
    color: $white;
    font-family: 'Rokkitt', serif;
    font-weight: 500;
    font-size: 90px;
    line-height: 0.91111;
    margin-bottom: 28px;

    @include media('<widescreen') {
      font-size: 48px;
      line-height: 1.0416;
    }

    @include media('<tablet') {
      margin-bottom: 20px;
    }

    @include media('<small-phone') {
      font-size: 30px;
      margin-bottom: 5px;
    }

    br {
      @include media('<tablet') {
        display: none;
      }
    }
  }

  .txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    max-width: 50%;
    margin-bottom: 32px;
    display: none;

    @include media('<tablet') {
      display: block;
      max-width: 88%;
    }
  }

  .text-yellow {
    color: #fcc117;
  }

  .btn {
    font-weight: 700;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: -0.5px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .content {
    max-width: 980px;
    margin: 0 0 65px;
    width: 100%;
    position: relative;
    z-index: 2;

    @include media('<widescreen') {
      max-width: 70%;
    }

    @include media('<tablet') {
      margin-bottom: 73px;
      max-width: none;
    }

    @include media('<small-phone') {
      margin-bottom: 0;
    }
  }

  .btn-red {
    background: #f5564e;

    &:hover {
      background: darken(#f5564e, 10);
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}

.cm-intro-text {
  background: #f6efe7;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 1.416;
  color: #000;
  letter-spacing: -0.5px;
  padding: 113px 0 106px;

  @include media('<tablet') {
    font-size: 16px;
    line-height: 1.3125;
    padding: 52px 0;
  }

  .container {
    max-width: 1458px;
  }

  .row {
    display: flex;
    margin: -15px;

    @include media('<desktop') {
      display: block;
    }
  }

  .cm-heading {
    max-width: 48.2%;
    flex: 0 0 48.2%;
    padding: 15px 90px 15px 15px;

    @include media('<widescreen') {
      padding-right: 15px;
    }

    @include media('<desktop') {
      max-width: none;
      padding-bottom: 7px;
    }
  }

  .cm-content {
    flex: 1;
    padding: 15px;
  }

  h1 {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    line-height: 0.957;
    font-weight: 500;
    color: #1b332d;

    @include media('<widescreen') {
      font-size: 70px;
    }

    @include media('<desktop') {
      font-size: 48px;
      line-height: 0.9167;
    }

    span {
      color: #f5564e;
    }
  }

  p {
    margin-bottom: 16px;

    @include media('<tablet') {
      margin-bottom: 22px;
    }
  }

  .link-more {
    text-transform: capitalize;
    color: #f5564e;
    position: relative;
    padding-right: 32px;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 3px;
      right: 0;
      font-family: 'icomoon';
      content: '\e940';
      font-size: 14px;
      transition: right 0.3s linear;
    }

    &:hover {
      color: darken(#f5564e, 10);

      &:after {
        right: -5px;
      }
    }
  }
}

.cm-featured {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 77px 0 100px;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

  @include media('<tablet') {
    padding: 53px 0 51px;
  }

  .btn-red {
    background: #f5564e;
    text-transform: uppercase;

    @include media('<tablet') {
      padding-left: 16px;
      padding-right: 16px;
    }

    &:hover {
      background: darken(#f5564e, 10);
    }
  }

  .cm-heading {
    margin-bottom: 64px;

    @include media('<tablet') {
      margin-bottom: 37px;
    }
  }

  .cm-decor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 498px;
    z-index: -1;
    pointer-events: none;

    @include media('<widescreen') {
      width: 320px;
    }

    @include media('<desktop') {
      display: none;
    }

    img {
      width: 100%;
      position: relative;
    }

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      width: 438px;
      background: #99c8c8;

      @include media('<widescreen') {
        width: 250px;
      }
    }
  }

  h2 {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    font-weight: 500;
    color: #1b332d;
    text-transform: capitalize;

    @include media('<widescreen') {
      font-size: 70px;
    }

    @include media('<desktop') {
      font-size: 48px;
      line-height: 0.9167;
    }
  }

  .container {
    max-width: 1458px;
  }

  .row {
    display: flex;
    margin: -41px;

    @include media('<desktop') {
      display: block;
    }
  }

  .cm-featured-content {
    flex: 1;
    padding: 41px;
  }

  .cm-sidebar {
    padding: 41px;
    max-width: 454px;
    flex: 0 0 454px;

    @include media('<desktop') {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
      max-width: none;
    }

    @include media('<tablet') {
      display: none;
    }
  }
}

.cm-box {
  background: #fb5e00 url('/wp-content/themes/a16z-2015/client/images/cm/pattern.png');
  color: $white;
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  padding: 28px 25px 31px;
  font-weight: 600;
  margin-bottom: 23px;

  h3 {
    font-size: 48px;
    line-height: 1.0833;
    font-weight: 700;
    margin-bottom: 12px;
    color: $white;
  }

  .txt {
    max-width: 266px;
    margin-bottom: 51px;
  }

  .btn {
    font-weight: 700;
    padding-left: 14px;
    padding-right: 14px;
    background: #f1c400;
  }
}

.cm-newsletter {
  color: $white;
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  padding: 57px 25px 21px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: top center;
  background: #005a59 url('/wp-content/themes/a16z-2015/client/images/cm/bg-newsletter.svg');

  h3 {
    font-size: 48px;
    line-height: 1.0833;
    font-weight: 700;
    margin-bottom: 12px;
    color: $white;
  }

  .txt {
    max-width: 266px;
    margin-bottom: 82px;
  }

  .cm-managed-by {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.5px;
  }
}

.cm-newsletter-form {
  position: relative;
  margin-bottom: 73px;

  input[type='email'] {
    border: none;
    background: none;
    color: $white;
    outline: none;
    border-bottom: 2px solid $white;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: 200;
    width: 100%;
    display: block;
    height: 56px;
    padding-right: 40px;
    -webkit-appearance: none;
    border-radius: 0;
  }

  :-ms-input-placeholder,
  ::-ms-input-placeholder {
    color: $white;
  }

  ::placeholder {
    opacity: 1;
    color: $white;
  }

  button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    color: $white;
    padding: 9px;
    transition: color 0.3s linear;

    &:hover {
      color: #f1c400;
    }
  }
}

.cm-featured-slider {
  padding-bottom: 77px;
  margin: 0 -12px;

  @include media('<tablet') {
    padding-bottom: 50px;
  }

  .slick-list {
    overflow: visible;
  }

  .cm-slide {
    width: 396px;
    padding: 0 12px;

    a {
      display: block;
      position: relative;
      color: $white;
      text-decoration: none;

      &:after {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        background: #000;
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }

      &:hover {
        &:after {
          opacity: 0.4;
        }

        .cm-title {
          &:after {
            right: 10px;
          }
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    font-size: 0;
    padding-top: 26px;
    max-width: 580px;

    @include media('<desktop') {
      max-width: none;
    }

    @include media('<tablet') {
      padding: 21px 6px 0;
    }

    button {
      text-indent: -999px;
      overflow: hidden;
      border: none;
      padding: 0;
      height: 5px;
      background: #99c8c8;
      transition: background 0.3s linear;
      width: 100%;

      @include media('<tablet') {
        height: 3px;
      }

      &:hover {
        background: #005a59;
      }
    }

    li {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
      padding: 0 12px;

      @include media('<tablet') {
        padding: 0 6px;
      }

      &.slick-active {
        button {
          background: #005a59;
        }
      }
    }
  }

  .img {
    position: relative;
    padding-top: 134.5%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .cm-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2307;
    text-shadow: 0px 4.4657px 4.4657px rgba(0, 0, 0, 0.1);
    padding: 26px 64px 26px 29px;
    z-index: 1;

    @include media('<tablet') {
      font-size: 24px;
      line-height: 1.2179;
      padding: 26px 64px 25px 30px;
    }

    &:after {
      position: absolute;
      bottom: 28px;
      right: 28px;
      font-family: 'icomoon';
      content: '\e940';
      font-size: 24px;
      font-weight: 400;
      transition: right 0.3s linear;
    }
  }
}

.cm-news-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.1875;
  color: #1b332d;

  a {
    color: #1b332d;
    text-decoration: none;
    transition: color 0.3s linear;

    &:hover {
      color: #ed8b00;
    }
  }

  h4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2179;
    letter-spacing: -0.5px;
    margin-bottom: 8px;

    @include media('<tablet') {
      font-size: 18px;
      line-height: 1.2222;
      padding-right: 30px;
      margin-bottom: 7px;
    }
  }

  .txt {
    @include media('<tablet') {
      display: none;
    }
  }

  .author {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    flex: 1;

    @include media('<tablet') {
      font-size: 16px;
    }
  }

  .cm-meta {
    margin-bottom: 19px;
    display: flex;
    padding-left: 3px;

    .icon-headphone {
      font-size: 18px;
      margin: 1px 10px 0 0;

      @include media('<tablet') {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  li {
    border-bottom: 1px solid #1b332d;
    margin-bottom: 31px;
    padding-bottom: 31px;

    @include media('<tablet') {
      padding-bottom: 14px;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 18px;

      @include media('screen', '>=tablet') {
        margin-bottom: 12px;
        border: none;
      }
    }
  }

  .tag {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 7px 0 0 5px;
    padding: 3px 13px 2px;

    @include media('<tablet') {
      margin-top: 0;
    }

    &.new {
      background: #f584b5;
    }

    &.featured {
      background: #f1c400;
      color: #3c3e43;
    }
  }
}

.cm-marketplace {
  padding: 50px 0 55px;
  background: #1b332d url('/wp-content/themes/a16z-2015/client/images/cm/marketplace-decor.svg');
  color: $white;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2273;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include media('<tablet') {
    font-size: 16px;
    line-height: 1.2631;
    padding: 64px 0 64px;
    background-image: url('/wp-content/themes/a16z-2015/client/images/cm/marketplace-decor-sm.svg');
    background-position: left center;
    background-size: cover;
  }

  .row {
    display: flex;
    align-items: center;
    margin: -41px;
    min-height: 302px;

    @include media('<tablet') {
      min-height: 0;
      display: block;
    }
  }

  .container {
    max-width: 1458px;
    position: relative;

    &:after {
      background: url('/wp-content/themes/a16z-2015/client/images/cm/marketplace-decor-01.svg');
      background-size: cover;
      position: absolute;
      top: -15px;
      bottom: -15px;
      width: 4550px;
      right: auto;
      left: 45.6%;
      opacity: 0.95;
      content: "";

      @include media('<widescreen') {
        left: 42%;
      }

      @include media('<desktop') {
        left: 38%;
      }

      @include media('<tablet') {
        display: none;
      }
    }
  }

  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    color: $white;
    letter-spacing: -0.5px;
    margin-bottom: 10px;

    @include media('<widescreen') {
      font-size: 40px;
    }

    @include media('<tablet') {
      font-size: 28px;
      line-height: 1;
      margin-bottom: 20px;
    }
  }

  .cm-left-content {
    flex: 1;
    padding-left: 9px;
    padding: 41px;
    position: relative;
    z-index: 1;
  }

  .cm-logo-wrap {
    max-width: 41%;
    flex: 0 0 41%;
    padding: 41px;
    position: relative;
    z-index: 2;

    @include media('<tablet') {
      display: none;
    }
  }

  .btn-red {
    background: #f5564e;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      background: darken(#f5564e, 10);
    }
  }

  .txt {
    max-width: 610px;
    margin-bottom: 41px;

    @include media('<tablet') {
      margin-bottom: 22px;
    }
  }
}

.cm-team-section {
  font-weight: 400;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #4b4f54;
  padding: 106px 0;

  @include media('<tablet') {
    font-size: 14px;
    line-height: 1.2829;
    padding: 64px 0;
  }

  h2,
  h3 {
    font-family: 'Rokkitt', serif;
    color: #1b332d;
    font-weight: 500;
  }

  h2 {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 32px;

    @include media('<widescreen') {
      font-size: 70px;
    }

    @include media('<desktop') {
      font-size: 48px;
      line-height: 0.9167;
      margin-bottom: 7px;
    }
  }

  h3 {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 42px;

    @include media('<desktop') {
      font-size: 34px;
      margin-bottom: 31px;
    }
  }

  .container {
    max-width: 1458px;
  }

  .cm-intro {
    max-width: 1300px;
    margin-bottom: 91px;

    @include media('<tablet') {
      margin-bottom: 39px;
    }

    .txt {
      margin-bottom: 28px;

      @include media('<tablet') {
        margin-bottom: 18px;
      }
    }
  }

  .link-more {
    text-transform: capitalize;
    color: #f5564e;
    position: relative;
    padding-right: 32px;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s linear;

    @include media('<tablet') {
      font-size: 18px;
    }

    &:after {
      position: absolute;
      top: 2px;
      right: 0;
      font-family: 'icomoon';
      content: '\e940';
      font-size: 14px;
      transition: right 0.3s linear;

      @include media('<tablet') {
        top: 4px;
      }
    }

    &:hover {
      color: darken(#f5564e, 10);

      &:after {
        right: -5px;
      }
    }
  }
}

.cm-general-partner {
  margin-bottom: 100px;

  @include media('<tablet') {
    margin-bottom: 48px;
  }

  .row {
    margin: -12px;
    display: flex;
    flex-wrap: wrap;

    @include media('<tablet') {
      display: block;
      margin: -8px;
    }
  }

  .col {
    padding: 12px;
    max-width: 50%;
    flex: 0 0 50%;

    @include media('<tablet') {
      max-width: none;
      padding: 8px;
    }
  }

  .cm-avatar {
    position: relative;

    .img {
      position: relative;
      padding-top: 78.5%;

      @include media('<tablet') {
        padding-top: 69.5%;
      }

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .cm-name {
      text-transform: capitalize;
      font-family: 'Rokkitt', serif;
      font-weight: 500;
      font-size: 110px;
      line-height: 0.709;
      color: $white;
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: 11px -32px;

      @include media('<widescreen') {
        font-size: 60px;
      }

      @include media('<tablet') {
        font-size: 49px;
        transform-origin: 6px -12px;
      }

      @include media('<small-phone') {
        font-size: 35px;
      }

      span {
        display: block;
        padding: 2px 0 0 90px;

        @include media('<widescreen') {
          padding-left: 40px;
        }

        &.style__01 {
          padding-left: 209px;

          @include media('<widescreen') {
            padding-left: 80px;
          }

          @include media('<small-phone') {
            padding-left: 50px;
          }
        }
      }
    }

    .cm-social-network {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      top: 31px;
      right: 15px;
      font-size: 20px;

      @include media('<widescreen') {
        padding-top: 10px;
      }

      @include media('<tablet') {
        font-size: 11px;
        top: 20px;
        right: 20px;
      }

      li {
        padding: 10px 18px;

        @include media('<tablet') {
          padding: 0 0 0 17px;
        }
      }

      .icon-twitter {
        font-size: 18px;

        @include media('<tablet') {
          font-size: 11px;
        }
      }

      .icon-clubhouse {
        font-size: 16px;

        @include media('<tablet') {
          font-size: 10px;
        }
      }

      a {
        color: $white;
        display: block;
        text-decoration: none;
        transition: color 0.3s linear;
      }
    }
  }
}


.gl-team-list {
  &.style__01 {
    margin-left: -20px;

    .member {
      padding-bottom: 46px;

      &:nth-child(4n + 1) {
        .holder {
          &:hover {
           .avatar {
            background-color: #ff6a1b;
          }
        }
      }
    }

       &:nth-child(4n + 2) {
        .holder {
          &:hover {

            .avatar {
              background-color: #f584b5;
            }
          }
        }
      }

      &:nth-child(3n) {
        .holder {
          &:hover {

            .avatar {
              background-color: #99c8c8;
            }
          }
        }
      }

      &:nth-child(4n) {
        .holder {
          &:hover {

            .avatar {
              background-color: #f1c400;
            }
          }
        }
      }
    }

    .avatar {
      margin-bottom: 42px;
      padding-top: 91.52%;
    }

    .name {
      font-size: 22px;
      margin-bottom: 5px;

      &:after {
        display: none;
      }
    }

    .role {
      font-size: 17px;
    }

    .social-network-list {
      a {
        background: #f5564e;
        border-color: #f5564e;

        &:hover {
          background: #005a59;
          border-color: #005a59;
          color: $white;
        }
      }

      li {
        &:nth-child(2) {
          a {
            background: #bc2835;
            border-color: #bc2835;

            &:hover {
              background: #487A6D;
              border-color: #487A6D;
              color: $white;

            }
          }
        }
        &:nth-child(3) {
          a {
            background: #882634;
            border-color: #882634;

            &:hover {
              background: #1b332d;
              border-color: #1b332d;
              color: $white;
            }
          }
        }
      }
    }

    .short-info {
      font-size: 17px;
      line-height: 1.2424;
      padding-top: 17px;

      strong {
        font-weight: 800;
        display: inline-block;
      }
    }
  }
}