body {
  padding: 0;
}

p, ul, ol, blockquote, q, pre, address, area, article, aside, audio, code, colgroup, div, details, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, img, section, table, summary, video {margin: 0;}


// .cm-intro-text,
// .cm-featured,
// .cm-marketplace,
// .cm-team-section {
//   display: none;
// }


.cm-hero {
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
  overflow: hidden;

  .hero-slide {
    position: relative;
    overflow: hidden;
  }

  .banner-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }

  img {
    margin-bottom: 0;
    display: block;
  }

  .logo {
    margin: 0 0 67px;;
    width: 270px;

  }

  .container {
    max-width: 1472px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .cm-small-title {
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #99C8C8;
    display: block;
    margin-bottom: 11px;

    @include media('<desktop') {
      font-size: 16px;
    }
  }

  h1 {
    color: #fff;
    font-family: 'Rokkitt', serif;
    font-weight: 500;
    font-size: 90px;
    line-height: 0.91111;
    margin-bottom: 28px;

    @include media('<desktop') {
      font-size: 48px;
      line-height: 1.0416;
    }
  }

  .text-yellow {
    color: #FCC117;
  }

  .btn {
    font-weight: 700;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: -0.5px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .content {
    max-width: 980px;
    margin: 0 0 65px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .btn-red {
    background: #F5564E;

    &:hover {
      background: darken(#F5564E, 10);
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}


.cm-intro-text {
  background: #F6EFE7;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 1.416;
  color: #000;
  letter-spacing: -0.5px;
  padding: 113px 0 106px;

  display: none;

  .container {
    max-width: 1458px;
  }

  .row {
    display: flex;
    margin: -15px;

    @include media('<desktop') {
      display: block;
    }
  }

  .cm-heading {
    max-width: 48.2%;
    flex: 0 0 48.2%;
    padding: 15px 90px 15px 15px;
  }

  .cm-content {
    flex: 1;
    padding: 15px;
  }

  h1 {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    line-height: .957;
    font-weight: 500;
    color: #1B332D;
    
    span {
      color: #F5564E;
    }
  }

  p {
    margin-bottom: 16px;
  }

  .link-more {
    text-transform: capitalize;
    color: #F5564E;
    position: relative;
    padding-right: 32px;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 3px;
      right: 0;
      font-family: 'icomoon';
      content: "\e940";
      font-size: 14px;
    }

    &:hover {
      color: darken(#F5564E, 10);
    }
    
  }
}

.cm-featured {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 77px 0 100px;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

  .btn-red {
    background: #F5564E;
    text-transform: uppercase;

    &:hover {
      background: darken(#F5564E, 10);
    }
  }

  .cm-heading {
    margin-bottom: 64px;
  }

  .cm-decor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 498px;
    z-index: -1;
    pointer-events: none;
    
    img {
      width: 100%;
      position: relative;
    }
    
    &:before {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      width: 438px;
      background: #99c8c8;
    }
  }

  h1 {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    font-weight: 500;
    color: #1B332D;
    text-transform: capitalize;
  }

  .container {
    max-width: 1458px;
  }

  .row {
    display: flex;
    margin: -41px;

    @include media('<desktop') {
      display: block;
    }
  }

  .cm-featured-content {
    flex: 1;
    padding: 41px;
  }

  .cm-sidebar {
    padding: 41px;
    max-width: 454px;
    flex: 0 0 454px;

    @include media('<tablet') {
      display: none;
    }
  }
}

.cm-box {
  background: #FB5E00;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  padding: 28px 25px 31px;
  font-weight: 600;
  margin-bottom: 23px;

  h2 {
    font-size: 48px;
    line-height: 1.0833;
    font-weight: 700;
    margin-bottom: 12px;
    color: #fff;
  }

  .txt {
    max-width: 266px;
    margin-bottom: 51px;
  }

  .btn {
    font-weight: 700;
    padding-left: 14px;
    padding-right: 14px;
    background: #F1C400;
  }
}

.cm-newsletter {
  background: #005a59;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  padding: 57px 25px 21px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  .decor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: top center;
    z-index: -1;
  }

  h2 {
    font-size: 48px;
    line-height: 1.0833;
    font-weight: 700;
    margin-bottom: 12px;
    color: #fff;
  }

  .txt {
    max-width: 266px;
    margin-bottom: 82px;
  }

  .cm-managed-by {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2.5px;
  }
}

.cm-newsletter-form {
  position: relative;
  margin-bottom: 73px;

  input[type='email'] {
    border: none;
    background: none;
    color: #fff;
    outline: none;
    border-bottom: 2px solid #fff;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: 200;
    width: 100%;
    display: block;
    height: 56px;
    padding-right: 40px;
    -webkit-appearance: none;
    border-radius: 0;
  }

  :-ms-input-placeholder,
  ::-ms-input-placeholder {
    color: #fff;
  }

  ::placeholder {
    opacity: 1;
    color: #fff;
  }

  button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 9px;

    &:hover {
      color: #F1C400;
    }
  }
}

.cm-featured-slider {
  padding-bottom: 102px;
  display: flex;
  overflow: hidden;
  margin: 0 -12px;

  .cm-slide {
    max-width: 396px;
    flex: 0 0 396px;
    padding: 0 12px;

    a {
      display: block;
      position: relative;
      color: #fff;
      text-decoration: none;
    }
  }

  .img {
    position: relative;
    padding-top: 134.5%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .cm-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2307;
    text-shadow: 0px 4.4657px 4.4657px rgba(0, 0, 0, 0.1);
    padding: 26px 64px 26px 29px;

    &:after {
      position: absolute;
      bottom: 28px;
      right: 28px;
      font-family: 'icomoon';
      content: "\e940";
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.cm-news-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.1875;
  color: #1B332D;

  a {
    color: #1B332D;
    text-decoration: none;

    &:hover {
      color: #ed8b00;
    }
  }

  h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2179;
    letter-spacing: -0.5px;
    margin-bottom: 8px;

  }

  .author {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    flex: 1;
  }
  
  .cm-meta {
    margin-bottom: 19px;
    display: flex;
    padding-left: 3px;

    .icon-headphone {
      font-size: 20px;
      margin: 1px 8px 0 0;
    }
  }

  li {
    border-bottom: 1px solid #1B332D;
    margin-bottom: 31px;
    padding-bottom: 31px;

    &:last-child {
      border: none;
      margin-bottom: 12px;
    }
  }
  

  .tag {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 7px 0 0 5px;
    padding: 2px 13px;

    &.new {
      background: #F584B5;
    }

    &.featured {
      background: #F1C400;
      color: #3C3E43;
    }
  }
}

.cm-marketplace {
  padding: 50px 0 55px;
  background: #1b332d;
  color: #fff;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2273;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .decor,
  .decor-01 {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .decor-01 {
    top: -15px;
    bottom: -15px;
    width: 4550px;
    z-index: 1;
    right: auto;
    left: 45.6%;
    opacity: 0.95;
  }

  .row {
    display: flex;
    align-items: center;
    margin: -41px;
    min-height: 302px;
  }

  .container {
    max-width: 1458px;
    position: relative;
  }

  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    color: #fff;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }

  .cm-left-content {
    flex: 1;
    padding-left: 9px;
    padding: 41px;
  }

  .cm-logo-wrap {
    max-width: 41%;
    flex: 0 0 41%;
    padding: 41px;
    position: relative;
    z-index: 2;
  }

  .btn-red {
    background: #F5564E;
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      background: darken(#F5564E, 10);
    }
  }

  .txt {
    max-width: 610px;
    margin-bottom: 41px;
  }
}

.cm-team-section {
  font-weight: 400;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #4B4F54;
  padding: 106px 0;

  h2 ,
  h3 {
    font-family: 'Rokkitt', serif;
    color: #1B332D;
    font-weight: 500;
  }

  h2 {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 42px;
  }

  .container {
    max-width: 1458px;
  }
  
  .cm-intro {
    max-width: 1300px;
    margin-bottom: 91px;

    .txt {
      margin-bottom: 28px;
    }
  }

  .link-more {
    text-transform: capitalize;
    color: #F5564E;
    position: relative;
    padding-right: 32px;
    font-family: 'Proxima Nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 2px;
      right: 0;
      font-family: 'icomoon';
      content: "\e940";
      font-size: 14px;
    }

    &:hover {
      color: darken(#F5564E, 10);
    }
  }
}

.cm-general-partner {
  margin-bottom: 100px;

  .row {
    margin: -12px;
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    padding: 12px;
    max-width: 50%;
    flex: 0 0 50%;
  }

  .cm-avatar {
    position: relative;

    .img {
      position: relative;
      padding-top: 78.5%;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .cm-name {
      text-transform: capitalize;
      font-family: 'Rokkitt', serif;
      font-weight: 500;
      font-size: 110px;
      line-height: 0.709;
      color: #fff;
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: 13px -34px;

      span {
        display: block;
        padding: 2px 0 0 15px;
      }
    }

    .cm-social-network {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      top: 31px;
      right: 15px;
      font-size: 20px;

      li {
        padding: 10px 18px;
      }

      .icon-twitter {
        font-size: 18px;
      }

      .icon-clubhouse {
        font-size: 16px;
      }

      a {
        color: #fff;
        display: block;
        text-decoration: none;
      }
    }
  }
}